.day {
    display: flex;
    justify-content: start;
    width: 100%;
}

.map {
    width: 800px;
    height: 400px;
}

.time {
    width: 45px;
}
.weather {
    text-align: center;
    padding: 10px;
}

.container {
    margin-right: 50px;
}
