.day {
    display: flex;
    justify-content: space-around;
    padding: 5px;
    width: 100%;
}

.map {
    width: 800px;
    height: 400px;
}

.time {
    width: 45px;
}
.weather {
    margin: 15px;
}

.container {
    margin-right: 50px;
}
